#navBar{
	background-color: pink;
	margin-top: -8px;
	margin-left: -8px;
}
#Tab{
	border-spacing: 18px
}
#Home{
	background-color: red
}
#signin:hover{
	background-color: yellow
}
#signin{
	-webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;

}
About us, Contact Us, Signup/Signin, Home, 50px height